@define-color module-bg rgba(8, 8, 11, 0.9);
@define-color tooltip-bg rgba(8, 8, 11, 1);
@define-color inactive #787c99;
@define-color fg #aa3838;
@define-color workspace-fg @fg;

@define-color red #AA3838;
@define-color blue #7aa2f7;
@define-color yellow #e0af68;
@define-color green #41a6b5;
@define-color black #121212;

* {
    font-family: CommitMonoSystem;
}

window {
    border: 0px;
    font-size: 18px;
}

#input>image.left {
    -gtk-icon-transform: scaleX(0);
}

#input {
    border: none;
    padding: 2px;
    margin: 2px;
    font-size: 16px;
    color: white;
    background-color: @black;
}

#input:focus {
    box-shadow: none;
}

#inner-box {
    margin: 0px;
    color: white;
    background-color: @black;
}

#outer-box {
    border: 1px solid white;
    margin: 0px;
    background-color: @black;
}

#selected {
    color: white;
}

#entry {
    padding: 0px;
    margin: 0px;
    background-color: @black;
}

#scroll {
    margin: 0px;
    background-color: @black;
}

#text {
    margin: 0px;
    padding: 2px 2px 2px 10px;
}
